{{#each homepagePosts}}
    <div class="post" data-postid="{{postID}}">
        <!-- CONTAINS CARD -->
        <div class="card-container">
            <div class="card card-pin-color">
                <div class="card-body was-validated">
                    <div class="card-top-section">
                        <!-- DISPLAY POST TITLE -->
                        <div class="card-title">
                            {{postTitle}}
                        </div>
                    </div>
                    <hr class="hr card-hr" />
                        <div class="username-content">
                            <div class="card-username">User: {{postUsername}}</div>
                            <div class="pin-updated">Last Updated: {{timestamp}}</div>
                        </div>
                    <!-- CARD TEXT -->
                    <p class="card-text">
                        {{postDescription}}
                    </p>          
                </div>
            </div>
        </div>
    </div>
{{/each}}